.select{
    margin-bottom: 10px;
}
.line{
    margin-top: 50px;
}
.judul{
    padding: 20px 0 20px 0;
    border-bottom: 3px solid #6730ec;
}
#sks_tempuh{
    margin-top: 30px;
}

.chart{
    border-top: 7px solid #307bec;
    padding: 0 10px 10px 10px;
}